    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item title is-4 mb-0" href="/">
      Twilio IVR Tester
    </a>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item is-expanded">
        <form class="form" method="post" action="/">
          <div class="field">
            <div class="control">
              <input id="url-input" style="width: 500px;" class="input is-rounded is-fullwidth" type="text" placeholder="Enter a URL" name="url" value="<%= @new_url %>" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</nav>
